<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %-60c %x - %m%n" />
    </Console>
    <Sfs name="Sfs" timeBinDuration="${sys:de.zib.sfs.timeBin.duration}"
      timeBinCacheSize="${sys:de.zib.sfs.timeBin.cacheSize}"
      outputDirectory="${sys:de.zib.sfs.output.directory}"
      outputSeparator=",">
      <PatternLayout
        pattern="${sys:de.zib.sfs.pid}@${sys:de.zib.sfs.hostname}:${sys:de.zib.sfs.key}:%message%n" />
    </Sfs>
  </Appenders>
  <Loggers>
    <AsyncLogger name="de.zib.sfs.AsyncLogger" level="info"
      additivity="false">
      <AppenderRef ref="Sfs" />
    </AsyncLogger>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
