<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %-60c %x - %m%n" />
    </Console>
    <RollingRandomAccessFile
      name="AsyncRandomAccessFile"
      fileName="${sys:de.zib.sfs.logFile.name}"
      filePattern="${sys:de.zib.sfs.logFile.name}.%i.gz"
      append="true"
      immediateFlush="false">
      <PatternLayout pattern="${sys:de.zib.sfs.pid}@${sys:de.zib.sfs.hostname}:%message%n" />
      <Policies>
        <SizeBasedTriggeringPolicy size="4GB" />
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <AsyncLogger name="de.zib.sfs.AsyncLogger" level="info" additivity="false">
      <AppenderRef ref="AsyncRandomAccessFile" />
    </AsyncLogger>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
